@model WebEscuelaMVC.Models.Aula

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h1>Crear Aula</h1>

    @using (Html.BeginForm("Create", "Aula", FormMethod.Post))
    {
        
        <div>

           @Html.LabelFor(model => model.Numero)
           @Html.TextBoxFor(model => model.Numero)
           @Html.ValidationMessageFor(model => model.Numero)

        </div>
        <div>

           @Html.LabelFor(model => model.Estado)
           @Html.TextBoxFor(model => model.Estado)
           @Html.ValidationMessageFor(model => model.Estado)

        </div>

        <input type="submit" value="Crear" action="Create" />

        @Html.ActionLink("Volver al index", "Index", "Aula")

    }

</body>
</html>
